#bodyContent {
	width:50%;
}
.col-centered {
	display:inline-block;
	float: none;
	margin: 0 auto;
}
.div-fillparent {
	width: 99%;
}
.row-centered {
    text-align:center;
}

.block-centered {
	margin: 0 auto;
}

.vert-centered {
	margin-top: 50vh;
	transform: translateY(-50%);
}

.big-button {
	height: 50vh;
	width: 33vh;
}

.logo {
	position: relative;
	float: right;
	bottom: 0px;
}

.copyright {
	position: relative;
	float: left;
	bottom: 0px;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 30px;
	padding: 10px;
	background-color: #D0D0D0;
}


.loginForm {
	padding: 15px;
}

