#bodyContent {
	width:50%;
}
.col-centered {
	display:inline-block;
	float: none;
	margin: 0 auto;
}
.div-fillparent {
	width: 99%;
}
.row-centered {
    text-align:center;
}

.block-centered {
	margin: 0 auto;
}

.vert-centered {
	margin-top: 50vh;
	transform: translateY(-50%);
}

.big-button {
	height: 50vh;
	width: 33vh;
}

.logo {
	position: fixed;
	right: 0px;
	bottom: 0px;
}

.copyright {
	position: fixed;
	left: 0px;
	bottom: 0px;
}


.loginForm {
	padding: 15px;
}

.btn-yellow {
	background-color: #F7DA64;
}

.btn-orange {
	background-color: #FBA026;
}

.btn-red {
	background-color: #EB6B56;
}

.btn-lightblue {
	background-color: #54ACD2;
}

.btn-blue {
	background-color: #2C82C9;
}

.btn-darkblue {
	background-color: #2969B0;
}

.grey {
	background-color: #D0D0D0;
}