#bodyContent {
	width:50%;
}
.col-centered {
	display:inline-block;
	float: none;
	margin: 0 auto;
}
.div-fillparent {
	width: 99%;
}
.row-centered {
    text-align:center;
}

.block-centered {
	margin: 0 auto;
}

.vert-centered {
	margin-top: 50vh;
	transform: translateY(-50%);
}

.big-button {
	height: 50vh;
	width: 33vh;
}

.logo {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.copyright {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.footer {
	margin: 5px;
}
